.git
.github
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/reports
**/.venv
.venv
**/node_modules
**/*.egg-info
dist
build
*.html
*.json
!packages/**/*.json
docs
examples/*.html
